[env]
AMBIO_MISE_ACTIVE = 'true'

[settings]
env_file = '.env'

[tools]
claude = { version = '2.1.22' }
codex = { version = '0.92.0' }
gemini = { version = '0.26.0' }

[tasks]
'cc' = { run = "claude", description = "Invoke Claude Code" }
