name: devskim
on:
  push: null
  pull_request: null
permissions:
  actions: read
  contents: read
  id-token: write
  issues: write
  pull-requests: write
  security-events: write
jobs:
  devskim:
    name: devskim
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: analysis
        uses: microsoft/DevSkim-Action@v1
      - name: upload
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: devskim-results.sarif
